
body {
    background-color: #D9D9D9;
    color: #3b2700;
}

header {
    text-align: center;
    padding: 1%;

}

#menu, #resumen{
    margin: 1% auto;
}

.contenedor {
    max-width: 60%;
    padding: 1%;
    margin: 1% auto;
    display: flex;
    flex-direction: column;
    border: 4px solid #F29F05;
    border-radius: 5%;
    background-color: #F2CB05;
}

select{
    text-align-last: center;
}


#presupuesto h2, #menu h2, #resumen h2{
    text-align: center;;
}

form{
    background-color: #F2E205;
    border: 2px solid #F29F05; 
    border-radius: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.botones{
    color: #3b2700;
    margin: 1% auto;
    margin-top: 2%;
    background-color: #F2B705;
    border: 3px solid #F29F05; 
    border-radius: 2rem;
}

#divResumen{
    display: none;
}

#divPresupuesto{
    display: flex;
    justify-content: space-evenly;
    margin: 1% 0;
}

li{
    display: none;
}

.formInput{
    width: 31%;
    border: 2px solid #F29F05;
    background-color: #fcf7b0;
}


.botonPedido{
    display: block;
    margin: 0 auto;
}

.modalConfig{
    background-color: #F2CB05;
}

.modalConfig2{
    background-color: #D9D9D9;
}

.modal-header{
    border: 5px solid #F29F05;
    border-bottom: 3px solid #F29F05;
}

.modal-body{
    border-right: 5px solid #F29F05;
    border-left: 5px solid #F29F05;
}

.modal-footer{
    border: 5px solid #F29F05;
    border-top: none;
}

.modalHeader2{
    border: none;
    border-bottom: 3px solid black;
}

#modalContenido{
    border: none;
}

#botonCarga{
    color: #3b2700;
    display: none;
}


/* Media query */

@media (max-width: 768px){
    .contenedor {
        max-width: 95%;
        
    }

    #divPresupuesto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .formInput{
        width: 80%;
        margin-bottom: 1%;
    }


}
